<style>

html, body {
  height: 100%;
  background: url(<%= image_path("backgroundimage2.jpg") %>) no-repeat center center;
  background-size: cover;
}

</style>

<div class="site-wrapper">

     <div class="site-wrapper-inner">

       <div class="cover-container">

         <div class="masthead clearfix">
           <div class="inner">
             <div class="page-header">
              <h3>WYN-dex</h3>
            </div>
           </div>
         </div>

         <div class="inner cover">
           <h1 class="cover-heading">SOCIAL MEDIA STALKING JUST GOT EASIER</h1>
           <p class="lead">Because staying connected to your network is crucial.</p>
           <p class="lead">
             <%= button_to 'Learn More', coders_path, :class => 'btn btn-secondary btn-lg btn-block', :method => :get %>
          </p>
         </div>

         <div class="mastfoot">
           <div class="inner">
             <p>Created by: <a href="https://twitter.com/robbytassy">@robbytassy</a>, <a href="https://twitter.com/HelloIDevDesign">@HelloIDevDesign </a>, <a href="https://twitter.com/causticpocket">@causticpocket</a></p>
           </div>
         </div>

       </div>

     </div>

   </div>

   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
   <script src="../../dist/js/bootstrap.min.js"></script>
   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


<!-- Link to Index -->

<!-- <%= link_to 'Index', coders_path %> -->
